.brand-container {
    h2 {
        color: #d32f2f;
        font-size: 35px;
        text-align: left;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-style: normal;
        margin-right: 62px;
    }
    gap: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 600px;

    ul {
        width: 400px;
        max-height: 450px; /* Adjust height as needed */
        overflow-y: auto; /* Enable vertical scroll */

        li {
            padding: 10px 0;
            border-bottom: 2px solid white;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Add transition for smooth hover effect */

            &:hover {
                background-color: #f1f1f1; /* Light gray background on hover */
                transform: translateY(-2px); /* Slight lift effect on hover */
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow on hover */
            }

            a {
                color: black;
                font-size: 18px;
                margin-right: 80px;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-style: normal;
                display: block;
                padding: 10px; /* Padding inside the link for better click area */
                transition: color 0.3s; /* Add transition for smooth color change */

                &:hover {
                    color: #d32f2f; /* Change text color on hover */
                }
            }
        }
    }
}

.brands-container {
    background-color: rgb(181, 225, 225);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}
