.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
     
    height: 50px;
    border-radius: 50%;
    /* background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
  }
  
  .custom-prev-arrow {
    left: -100px;  /* Điều chỉnh vị trí bên trái */
  }
  
  .custom-next-arrow {
    right: -100px; /* Điều chỉnh vị trí bên phải */
  }
  
  .custom-arrow::before {
    content: '';
    display: inline-block;
    border: solid red;
    border-width: 0 4px 4px 0;
    padding: 8px;
  }
  
  .custom-prev-arrow::before {
    transform: rotate(135deg);
  }
  
  .custom-next-arrow::before {
    transform: rotate(-45deg);
  }
  